<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.jinja' %}
</head>
    {% include 'nav.jinja' %}
<body>
    <main>
        <h2>Welcome, {{ user.username }}!</h2>
        <p>This is your dashboard.</p>
    </main>
</body>
</html>