<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/deadpool">Deadpool</a></li>
        <li><a href="/burger_reviews">Burger Reviews</a></li>
        <li><a href="/review_burger">Review a Burger</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>